@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #f3f36b;
    --cor2: #1C1C1C;
    --cor3: #fafaff;
    --cor4: #00a7e1; /* não sei se vou utilizar */
}
body {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--cor1);
    width: 80px;
    height: 100vh;
}
header > nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > nav > div {
    margin: 20px 0px;
}
header > nav > div > a > img {
    width: 5vh;
}

/* Notes do site */

main {
    display: inline-block;
}
main > article#line1 {
    display: flex;
    flex-direction: row;
    padding: 40px 30px;

    
}

main > article#line1 > section {
    background-color: var(--cor1);
    padding: 8px 15px;
    margin-right: 20px;
    border-radius: 10px;

    
}


