* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #f3f36b;
    --cor2: #1C1C1C;
    --cor3: #fafaff;
    --cor4: #00a7e1; /* não sei se vou utilizar */
}


main {
    width: 100px;
    height: 100vh;
   
}
main > #line1 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

main > #line1 section {
    display: inline-table;
    width: 20.9vh;
    height: 200px;

    background-color: #f3f36b;

    padding: 10px 25px 10px 25px;
    margin-left: 20px;
    margin-bottom: 5vh;

    border-radius: 15px;
    box-shadow: 5px 5px 5px #00000018;

    font-size: 1em;
}